<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.JJ.hangoverclock"
    android:installLocation="internalOnly">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/clock_c"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/clock_c"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- widget stuff -->
        <activity android:name=".WidgetConfigure">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:name=".WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.JJ.hangoverclock.widgetupdate" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidgetproviderinfo" />
        </receiver>
        <!-- daydream stuff -->
        <activity android:name=".DaydreamConfigure" />
        <service
            android:name=".DaydreamProvider"
            android:exported="true"
            android:icon="@drawable/clockc"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dreaminfo" />
        </service>
        <!-- Settings stuff -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- preferences provider for systemui -->
        <provider
            android:name=".PreferencesProvider"
            android:authorities="com.JJ.hangoverclock.PreferencesProvider"
            android:exported="true" />
        <!-- xposed configure stuff -->
        <activity android:name=".StatusbarConfigure" />
        <!-- xposed stuff -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/scope" />


    </application>

</manifest>